

body {
   
    margin:0;
    margin-top: 1%;
    text-align: center;
    background:#fffec6;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}

.TituloPrincipal{
    text-align: center;
    font: tahoma;
}

h2{
    color:#96b49c;
    text-align: center;
}

.container{
    display:inline-flex;
    text-align: justify; 
}


.conteiner p {
   width:300px;
   font-weight: 200;   
   text-align: center;

} 
.container img {
    width: 300px; 
    margin:20px;   
    
}

.coiteinertexto{
    width: 500px;
    margin: 20px;
    margin-top: 100px;
    text-align: justify;
}

h1{
    background-color: #cc5d4c;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: auto;
    box-shadow: 3px 3px 3px 3px;
    color:aquamarine;

}

#pagamento {
     background-color:#fffec6;
     border-radius: 10px;
     margin-top: 0%;
}

#desenho{
    background-color: #cc5d4c;
    color:#96b49c;    
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: auto;
    box-shadow: 3px 3px 3px 3px;
    margin-top: 1%;
  
}

.linha{
    margin: auto;
    text-align: center;
    color:aqua;
}

.dataValidade{
    margin: auto;
    text-align: center;
    color:aqua;

}